<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
    <link href="stylenight.css" rel="stylesheet" id="thememodes" />
    <title>Comiclist</title>
</head>

<body>
    <img class="logo-img" alt="Logo" src="../images/log.png" />
    <h1>Comic Shrine</h1>
    <div class="nav-bar">
        <a href="index.html">Home</a>
        <a href="comiclist.html">Directory</a>
        <a href="">Lists</a>
        <a href="images.html">Images</a>
        <a href="forum.html">Forums</a>
        <a href="login.html" id="login ">Login</a>
        <a href="domparser/xmlmanipulate.html">Wishlist</a>
        <a href="xmls/comics_action.xml">List</a>
        <input type="search" id="search">
        <a href="#">|</a>
        <a href="#" onclick="setnight()">night</a>
        <a href="#" onclick="setday()">day</a>
    </div>
    <h2> Searches</h2>
    <hr>
    <% if (data.length> 0) { %>
        <% data.forEach(comic=> { %>
            <h3>
                <%=comic.Title%>
            </h3>
            <p>
                <%=comic.Author%>
            </p>
            <% }) %>
                <% } else { %>
                    <p>Nothing found :(</p>
                    <%}%>
</body>
<style>
    body {
        background-color: rgb(34, 34, 34);
    }

    h2 {

        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        color: white;
    }

    h3 {
        color: white;
    }

    .taste a {
        color: rgb(120, 115, 115);
    }

    .nav-bar {
        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    }

    .nav-bar a {
        color: rgb(120, 115, 115);

    }


    .nav-bar a:hover {
        color: rgb(245, 245, 245);
        font-weight: 300;
    }

    .content {
        border: 2px solid black;
    }

    .description>.title {
        color: #333333;

    }

    .description>.author {
        color: #555555;
    }

    .tags>.tag-val {
        background-color: #999999;
        color: white;
    }

    h1 {
        color: salmon;
    }

    a.delete-button,
    a.update-button {
        display: block;
        width: 150px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
        padding: 20px;
    }

    body {
        background-image: url(../images/bg.jpg);
        background-color: black;
        color: white;
    }

    .header {
        background-color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 30px;
        box-shadow: 0px 3px rgb(87, 79, 79);
        opacity: 0.8;
    }

    .header h1 {
        color: pink;
        padding-left: 30px;
    }

    .header h3 {
        color: rebeccapurple;
        padding-left: 30px;
    }

    .main {
        background-color: black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid blue;
        min-width: 70%;
        opacity: 0.8;
        max-width: 0%;
        margin: auto;
    }

    .main-header {
        display: flex;
        align-items: left;
        justify-content: space-between;
        border-bottom: 1px solid blue;
    }

    .main-header a {
        text-decoration: none;
        color: white;
    }

    .main-form {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-form label {
        display: inline-block;
        width: 150px;
    }

    .main-form input {
        margin: 10px;
    }

    .sign-up {
        margin: 10px;
        padding: 10px;
        border-top: 1px solid blue;
        display: flex;
        justify-content: center;
        max-width: 70%;
        min-width: 70%;

    }

    .sign-up button {
        border: none;
        outline: none;
        background-color: black;
        color: white;
        border: 1px solid blue;
    }

    .wronginput {
        color: red;
        font-size: small;
    }

    .delete-button {
        display: block;
        width: 115px;
        height: 25px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
    }
</style>

</html>